/* Basic Reset for Terminal CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack);
  background-color: var(--background-color);
  color: var(--font-color);
  line-height: var(--global-line-height);
  font-size: var(--global-font-size);
}

#root {
  width: 100%;
  min-height: 100vh;
}
